#content { 
    background-color: grey;
    padding: 10%;

}

#menu { 
    background-color: antiquewhite;
    padding: 10%;
    margin-bottom: 50px;

}

#footer {
    width: 100%;
    
}

#location {
    width: 100%;
    height: auto;

}

#e3LOGO{
    width: 25%;
    height: auto;

}

.container-fluid a:hover{ 
    transform: scale(1.1); 
    background-color: #111;

}

.container-fluid a {
    padding: 5px;
    transition: all .2s ease-in-out;

}

#icon:hover {
    background-color: #333;
    transform: scale(1.05); 
    transition: all .2s ease-in-out;
    border-radius: 10%;
}

.col { 
    margin: 15%; 
}

#icon {
    padding: 15px;
    height: 80%;
    width: auto;

}

#F {
    padding: 5%;
}

#info {
    width: 100%;
    height: auto;
    border-radius: 10%;

}

#text {
    padding: 5% 15% 10% 15%;

}

@media screen and (max-width: 688px) {
    .navbar-brand {
        display: none;
    }
    
    #content {
        padding-top: 15%;
    }

    #content td, th {
        padding: 3px;
        font-size: 14px;
    }

}